*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
.header{
    background-color: #F29410;
    display: flex;
    justify-content: space-between;
    color: white;
    height: 50px;
    padding-top: 20px;
}
.logo{
    padding-left: 20px;
    font-style: italic;
    font-size: 16px;
}
.contct{
    font-size: 16px;
    padding-right: 20px;
}
.contct a{
    text-decoration: none;
    color: white;
}
input{
    width:50%;
    height: 30px;
    outline-style: none;
   
    
}
 a{
    text-decoration: none;
    text-decoration-style: none;
}


.footer{
    background-color: #F29410;
    height:50px ;
    color: white;
    position: fixed;
    bottom: 0px;
    width: 100%;
}
.foot{
    display: flex;
    /* float: left; */
    align-items: center;
    justify-content: space-between;
    list-style: none;
    /* gap: 4rem; */
    /* padding: 20px; */
    margin :7px;
}
.foot a img{
    width: 20px;
    height: 20px;
}
.foot li a{
    text-decoration: none;
    color: white;
    font-size: 14px;

}
.para{
    line-height: 20px; 
    padding-bottom: 10px;
}
.body{
    padding: 20px;
    
    
}
.emai{
    padding-bottom: 25px;
    line-height: 20px;
}
.ema{
    line-height: 70px; 
}
.tele{
    padding-bottom: 10px;
    line-height: 20px;
}
.teleph{
    line-height: 70px;
}
.messa{
    line-height: 100px;
}

.btn{
    padding-top: 20px;
}
.sub{
    background-color: #F29410;
    outline-style: none;
    border-style: none;
    border-radius: 6px;
    height: 20px;
    width: 60px;
    
}