*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
}
.image img{
    width: 100%;
    height: 80vh;
    
}
.para{
    line-height: 20px;
    padding: 10px;
}
.drinks{
    line-height: 60px; 
}
.footer{
    background-color: #F29410;
    height:80px ;
    color: white;
 
}
.foot{
    display: flex;
    /* float: left; */
    align-items: center;
    justify-content: space-between;
    list-style: none;
    /* gap: 2rem; */
   padding: 0.5rem;
   margin: 0px;
}

.foot li a{
    text-decoration: none;
    color: white;

}
