*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
}
.image{
    width:100%;
}
.image img{
    width: 100%;
    height: 50vh;
    padding-left: 0px;
    
}
.para{
    line-height: 20px;
    padding-left:5rem;
    padding-top:1rem;
}
.para h4{
    padding-bottom:0.5rem; 
}
.Drinks{
    line-height: 30px;
}
.menu{
    line-height: 30px;  
}
.footer{
    background-color: #F29410;
    height:80px ;
    color: white;
 
}
.foot{
    display: flex;
    /* float: left; */
    align-items: center;
    justify-content: space-between;
    list-style: none;
    /* gap: 2rem; */
   padding: 0.5rem;
   margin: 0px;
}

.foot li a{
    text-decoration: none;
    color: white;

}
