*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
.header{
    background-color: #f89407dc;
    display: flex;
    justify-content: space-between;
    color: white;
    height: 50px;
    padding-top: 10px;
}
.logo{
    padding-left: 20px;
    font-style: italic;
    font-size: 18px;
}
.contct{
    font-size: 18px;
    padding-right: 20px;
}
.contct a{
    text-decoration: none;
    color: white;
}
.head{
    padding-top: 20px;
    padding-left: 50px;
}
.rectangle{
    margin: 20px 30px 15px 0px;
    width:200px;
    height:200px;
    border:3px solid rgb(180, 179, 179) ;
    border-radius: 2px;
    background-color: rgb(180, 180, 179);
    box-shadow: 4px 3px  rgb(122, 122, 122);
}
.rectangle img{
    width: 100%;
    height: 140px;
}
 
.rectangle a h4 {
    text-decoration: none;
    text-decoration-line: none;
    text-align: none;
    color:rgb(15, 14, 14);
    text-decoration-line: none;
    /* color: red; */
    
}
.icon img{
    width: 15px;
    height: 15px;
}
.kiy{
    
    font-size: 13px;
}
.icon{
    display: inline-flex;
   flex-wrap: wrap;
    
}
.rectangle h4{
    padding: 7px;
}
.parent{
    display:flex;
    justify-content: center; 
    flex-wrap: wrap; 
    align-items: center; 

    
}
.footer{
    background-color: #F29410;
    height:50px;
    color: white;
    width: 100%;
    position: fixed;
    bottom: 0px;
    
}
.foot{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin: 7px;
    margin-left: 20px;
}

.foot li a{
    text-decoration: none;
    color: white;
}
.foot img{
    width: 20px;
    height: 20px;
}
.foot li a{
    font-size: 16px;
}
@media screen and (max-width:438px) {
    .rectangle{
        margin: 15px 20px 15px 0px;
        width:350px;
        height:300px;
        background-color: #b39c9c;
        box-shadow: 0px 3px 3px 4px rgb(88, 86, 86);
        
    }
    .rectangle img{
        height: 220px;
    }
    .icon img{
        width: 20px;
        height: 25px;
    }
    .kiy{
    
        font-size: 23px;
        
    }
    .rectangle h4{
        font-size: 23px;
    }
    .head{
        padding-top: 10px;
        padding-left: 20px;
        font-size: 20px;
    }
    .logo{
        padding-left: 20px;
        font-style: italic;
        font-size: 25px;
    }
    .contct{
        font-size: 25px;
        padding-right: 20px;
    }
}